/* 11.0 Titles */
.content-title-description p{	margin: 0; }

.content-header{ margin-bottom: 32px; }

.content-title{
	&:before,
	&:after{ font-family: FontAwesome; }
}

.sticky .archive-entry-header h3{
	margin-bottom: 16px;

	&:before{
		font-family: FontAwesome;
		content: '\f08d';
		margin-right: 16px;
		background-color: $buttonColor;
		color: $buttonTextColor;
		border: 2px solid $inputBorderColor;
		border-radius: 32px;
		padding: 4px 10px;
		font-size: 1.75rem;
	}
}

.single:not(.single-format-standard) .content-title,
.archive .content-title{ margin-bottom: 16px; }

.single:not(.single-format-standard) .content-title:before,
.archive .content-title:before,
.search .content-title:before,
.error404 .content-title:before{
	display: inline-block;
	font-family: FontAwesome;
	background-color: $buttonColor;
	color: $buttonTextColor;
	border: 2px solid $inputBorderColor;
	border-radius: 100% !important;
	height: 1em;
	width: 1em;
	margin-right: 8px;
	padding: .5rem;
	text-align: center;
}

.archive .content-title:before{ content: '\f07b'; }
.tag .content-title:before{ content: '\f02b'; }
.author .content-title:before{ content: '\f007'; }
.date .content-title:before{ content: '\f073'; }
.search .content-title:before{ content: '\f002'; }
.error404 .content-title:before{ content: '\f15b'; }

/* post format prefix icons*/
.attachment,
.single-format-image,
.single-format-gallery,
.term-post-format-image,
.term-post-format-gallery{
	.content-title:before{ content: '\f03e'; }
}

.single-format-audio,
.term-post-format-audio{
	.content-title:before{ content: '\f001'; }
}

.single-format-video,
.term-post-format-video{
	.content-title:before{ content: '\f03d'; }
}

.single-format-status,
.term-post-format-status{
	.content-title:before{ content: '\f12a'; }
}

.single-format-link,
.term-post-format-link{
	.content-title:before{ content: '\f0c1'; }
}

.single-format-quote,
.term-post-format-quote{
	.content-title:before{ content: '\f10e'; }
}

.single-format-chat,
.term-post-format-chat{
	.content-title:before{ content: '\f086'; }
}