/* 14.0 Comments */
.avatar{
	border: 2px solid $borderColor;
	border-radius: 100%;
}
.comments-area{
	border-top: 1px solid $borderColor;
	
	label{ display: block; }
}

.comment,
.pingback{
	border-top: 1px solid $borderColor;
	padding-top: 10px;
	margin-top: 10px;
	list-style: none;
}

.comment{ padding: .5rem; }

.pingback{
	font-weight: bold;
	a{ font-weight: normal; }
}

.comment-meta{
	line-height: 28px;
	margin-bottom: 1rem;
}

.comment-author{
	margin-bottom: 0;

	.avatar{
    position: relative;
		float: left;
		margin-right: .5rem;
    width: 42px;
		height: 42px;
    top: 0.25rem;
	}
}

.bypostauthor{ 
	.comment-author:before{
		content: '\f040';
		font-family: FontAwesome;
	}
}

.comment-metadata a{
	font-weight: normal;
	font-size: .7rem;
}

.comment-reply-link{
	font-size: .9rem;
	padding: .1rem .2rem;
}

.comment-respond{
	border-top: 1px solid $borderColor;
	padding-top: 10px;
}

.comment-reply-title{ margin-bottom: 10px; }

.comment-form a{ font-weight: normal; }