/* 15.0 Widgets */
.above-content-widget-area,
.footer-widget-areas-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 32px 0; 
}

.above-content-widget-area{ justify-content: center; }

.footer-widget-areas-container{
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-widget-areas-1 .footer-widget-areas-container .footer-widget-area{ max-width: calc(100% - 32px); }
.footer-widget-areas-2 .footer-widget-areas-container .footer-widget-area{ max-width: calc(50% - 32px); }
.footer-widget-areas-3 .footer-widget-areas-container .footer-widget-area{ max-width: calc(33.3% - 32px); }
.footer-widget-areas-4 .footer-widget-areas-container .footer-widget-area{ max-width: calc(25% - 32px); }

.above-content-widget-area .widget-container:not(:last-child){
	margin: 0 32px 32px 0;
}

.widget-container{ 
	word-wrap: break-word;

	&:not(:last-child){ margin-bottom: 32px; }

	> ul{
		margin-left: -26px;
		
		li{
			list-style: none;
			margin-bottom: .5rem;
		}
	}
}

@media (max-width: 1280px){
	.footer-widget-areas-3 .footer-widget-areas-container .footer-widget-area{ max-width: calc(50% - 32px); }
	.footer-widget-areas-4 .footer-widget-areas-container .footer-widget-area{ max-width: calc(50% - 32px); }
}

@media (max-width: 960px){
	.above-content-widget-area{ display: block; }
	.footer-widget-areas-2 .footer-widget-areas-container .footer-widget-area{ max-width: calc(100% - 32px); }
	.footer-widget-areas-3 .footer-widget-areas-container .footer-widget-area{ max-width: calc(100% - 32px); }
	.footer-widget-areas-4 .footer-widget-areas-container .footer-widget-area{ max-width: calc(100% - 32px); }
}

@media (max-width: 640px){
	.footer-widget-areas-container{ display: block; }
	
	.above-content-widget-area .widget-container,
	.footer-widget-area{ margin: 0 0 32px 0 !important; }
}