.comments-area {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  border-top: 0.125em solid var(--color-border);
}

.comments-title {
  margin: 0;
  padding: .5em 0;
}

.comment-list {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  margin: 0;
}

.comment,
.pingback {
  list-style: none;
  border-top: 0.125em solid var(--color-border);
  padding: 1em 0;
}

.comment-meta {
  margin-bottom: 1em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bypostauthor .comment-author .says {
  display: none;
}

.comment-author {
  .avatar {
    background-color: var(--color-highlight);
    position: relative;
    float: left;
    margin-right: .5em;
    border-radius: 100%;
  }
}

.comment-metadata {
  font-size: .7rem;
  margin-top: 1em;
}

.comment-reply-link,
.bypostauthor .comment-author .fn {
  background-color: var(--color-highlight);
  border: 0.125em solid var(--color-border);
  border-radius: 1em;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 .5em;
  text-decoration: none;
}

.bypostauthor .comment-author .fn::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: '\f040';
  padding-right: .5em;
}
.comment-reply-link:hover {
  background-color: var(--color-border);
  color: var(--color-highlight);
}

.comment-respond {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 0.125em solid var(--color-border);
}

.comment-form {
  label {
    display: block;
  }

  p {
    margin: 0 0 1em;
  }
}

.comment-reply-title {
  margin: 0;
}