.page-header,
.entry-header {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-gap: .5em;

  h1,
  h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--color-text);

    &:hover {
      text-decoration: underline;
    }
  }
}

.entry-meta {
  display: grid;
  grid-gap: .5em;
}

.sticky .entry-header h3::before,
.entry-meta > span::before,
.post-edit-link::before {
  background-color: var(--color-highlight);
  display: inline-block;
  color: var(--color-border);
  border: 0.125em solid var(--color-border);
  border-radius: 100%;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  line-height: 1.5em;
  text-align: center;
  margin-right: .25em;
  width: 1.5em;
  height: 1.5em;
}

.sticky .entry-header h3::before {
  content: '\f08d';
  font-size: 1.5rem;
  font-weight: 600;
}

.entry-meta-author::before {
  content: '\f007';
}

.entry-meta-date::before {
  content: '\f073';
}

.entry-meta-comments::before {
  content: '\f0e5';
}

.entry-meta-categories::before {
  content: '\f114';
}

.entry-meta-image-size::before {
  content: '\f030';
}

.format-gallery .entry-meta-post-format::before,
.format-image .entry-meta-post-format::before {
  content: '\f03e';
}

.format-audio .entry-meta-post-format::before {
  content: '\f001';
}

.format-video .entry-meta-post-format::before {
  content: '\f1c8';
}

.format-aside .entry-meta-post-format::before {
  content: '\f249';
}

.format-status .entry-meta-post-format::before {
  content: '\f12a';
}

.format-link .entry-meta-post-format::before {
  content: '\f0c1';
}

.format-quote .entry-meta-post-format::before {
  content: '\f10e';
}

.format-chat .entry-meta-post-format::before {
  content: '\f086';
}

.post-edit-link::before {
  content: '\f040';
}

@media (min-width: 640px) {
  .entry-meta {
    display: flex;
    flex-wrap: wrap;

    > *:not(:last-child) {
      margin-right: 1em;
    }
  }
}