.entry-footer {
  display: grid;
  grid-gap: 2em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.author-bio {
  display: grid;
  grid-template-columns: 100px minmax(0, 1fr);
  margin-right: auto;

  .avatar {
    background-color: var(--color-highlight);
    position: relative;
    border-radius: 100%;
    z-index: 10;
  }

  h5,
  p {
    font-size: .8rem;
    margin: 0;
  }

  h5 {
    font-weight: 800;
    text-transform: uppercase;
  }

  > div {
    position: relative;
    left: -50px;
    margin-right: -50px;
    background-color: var(--color-highlight);
    display: grid;
    align-content: start;
    grid-gap: .5em;
    height: calc(100px - 2em);
    border: 0.125em solid var(--color-border);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 1em 2em 1em calc(50px + 1em);
  }
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
}

.post-tags a {
  background-color: var(--color-highlight);
  border: 0.125em solid var(--color-border);
  border-radius: 1em;
  color: var(--color-border);
  text-transform: uppercase;
  padding: .25em .5em;
  margin: 0 .5em .5em 0;
  font-weight: 800;
  font-size: .8rem;

  &:hover {
    background-color: var(--color-border);
    color: var(--color-highlight);
    text-decoration: none;
  }
}