input,
textarea,
select {
  max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="search"],
textarea,
select {
  border: 0.125em solid var(--color-border);
  border-radius: 1em;
  padding: .25em .5em;
  font-weight: 600;
  max-width: calc(100% - 1.250em);
}

/* iOS not respecting border-radius */
input[type="search"] {
  -webkit-appearance: none;
}

input[type="color"],
input[type="submit"],
input[type="button"],
input[type="reset"],
button {
  background-color: var(--color-highlight);
  border: 0.125em solid var(--color-border);
  color: var(--color-border);
  text-transform: uppercase;
  border-radius: 1em;
  padding: .25em .5em;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    background-color: var(--color-border);
    color: var(--color-highlight);
  }
}

.ruffie-labeler:not(old) {
  height: 20px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.ruffie-labeler:not(old) + label:after {
  position: relative;
  background-color: var(--color-highlight);
  color: var(--color-border);
  min-width: 16px;
  min-height: 16px;
  display: inline-block;
  margin-left: -16px;
  border: 0.125em solid var(--color-border);
  border-radius: .25em;
  font-family: FontAwesome;
  content: ' ';
  line-height: 16px;
  top: 2px;
}

.ruffie-labeler[type="radio"]:not(old) + label:after {
  border-radius: 16px;
}

.ruffie-labeler[type="radio"]:not(old):checked + label:after {
  background-color: var(--color-border);
}

.ruffie-labeler[type="checkbox"]:not(old):checked + label:after {
  content: '\f00c';
  top: -2px;
}

fieldset {
  min-width: 0px;
  border: 0.125em solid var(--color-border);
}

.search-form,
.post-password-form p:nth-child(2) {
  display: flex;
}

.search-form .search-field,
.post-password-form input[type="password"] {
  max-width: 100%;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-form .search-submit,
.post-password-form input[type="submit"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.post-password-form input[type="password"] {
  display: block;
}

.post-password-form input[type="submit"] {
  position: relative;
  height: 50%;
  bottom: 0;
  margin-top: auto;
}