#site-wrapper,
#main-content-container,
#site-main,
#site-main > section,
#footer-widget-areas-container,
.widget-area {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  align-content: start;
  grid-gap: 1em;
}

#site-wrapper {
  width: calc(100% - 2em);
  max-width: calc(1280px - 1em);
  margin: 0 auto;
  padding: 1em;
}

@media (min-width: 640px) {
  #widget-area-above-content,
  #footer-widget-areas-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 960px) {
  #widget-area-above-content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  #widget-area-above-content,
  #footer-widget-areas-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .has-right-sidebar #main-content-container {
    grid-template-columns: minmax(0, 1fr) minmax(0, 300px);
  }

  .has-left-sidebar #main-content-container {
    grid-template-columns: minmax(0, 300px) minmax(0, 1fr);
  }

  .has-right-sidebar.has-left-sidebar #main-content-container {
    grid-template-columns: minmax(0, 300px) minmax(0, 1fr) minmax(0, 300px);
  }
}