.wp-caption,
.gallery-item,
.entry-attachment,
img {
  max-width: 100%;
  height: auto;
  border: 0.125em solid var(--color-border);
  border-radius: .5em;
}

.wp-caption,
.gallery-item,
.entry-attachment {
  background-color: var(--color-highlight);
  overflow: hidden;

  img {
    display: block;
    border: none;
    border-bottom: 0.125em solid var(--color-border);
    border-radius: 0;
    margin: 0 auto;
  }
}

.wp-caption {
  margin-bottom: .5em;  
}

.gallery-caption,
.wp-caption-text {
  font-size: .8rem;
  padding: .5em;
}

figure {
  margin: 0;
}

img {
  vertical-align: bottom;
}

iframe,
embed,
object {
  max-width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  max-width: 960px; /* content width */
  grid-gap: 1em;
  margin-bottom: 1em;
}

.gallery-columns-1 {
  grid-template-columns: minmax(0, 1fr);
}

.gallery-caption {
  font-style: italic;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .gallery-columns-1 {
    grid-template-columns: minmax(0, 1fr);
  }

  .gallery-columns-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .gallery-columns-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .gallery-columns-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .gallery-columns-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .gallery-columns-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .gallery-columns-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .gallery-columns-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .gallery-columns-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .gallery-columns-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}