#header-nav-toggle {
  display: none;
}

#header-nav-toggle-label {
  position: relative;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
}

#header-nav-toggle:checked ~ #header-nav-toggle-label {
  position: absolute;
  z-index: 20;
  font-size: 1rem;
}

#header-nav {
  background-color: var(--color-bg);
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 0.125em solid var(--color-border);
  z-index: 10;

  a {
    color: var(--color-text);
    text-decoration: none;
  }

  > li {
    font-weight: 800;
    text-transform: uppercase;
  }

  li {
    line-height: 2em;
  }

  li > *:not(ul) {
    border: 0.125em solid transparent;
    border-radius: 1em;
    padding: .25em .5em;
  }

  li:hover > *:not(ul) {
    background-color: var(--color-border);
    color: var(--color-highlight);
  }

  .current-menu-item > *:not(ul) {
    background-color: var(--color-highlight);
    color: var(--color-border);
    border: 0.125em solid var(--color-border);
  }

  li {
    list-style: none;
    white-space: nowrap;
  }

  ul {
    margin: 0;
  }
}

#header-nav-toggle:checked ~ #header-nav {
  display: block;
}

@media (min-width: 640px) {
  #header-nav-toggle-label {
    display: none;
  }

  #header-nav {
    background-color: transparent;
    position: relative;
    left: auto;
    right: auto;
    display: flex !important;
    flex-wrap: wrap;
    border: none;
    text-align: left;

    > li {
      position: relative;
      margin-right: 1rem;
    
      &:hover > ul { 
        display: block;
      }

      &.menu-item-has-children:hover > *:not(ul) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    > li > ul {
      background-color: var(--color-border);
      color: var(--color-highlight);
      display: none;
      position: absolute;
      left: 0;
      padding: 0;
      z-index: 10;
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;

      a {
        color: var(--color-highlight);
      }
    }

    ul {
      margin: 0;
    }

    ul ul {
      padding-left: 1rem;
    }
  }
}