:root {
  --font-family: 'Open Sans', sans-serif;
  --font-size: 12pt;

  --color-bg:        #CA2F2A;
  --color-text:      #191919;
  --color-anchor:    #191919;
  --color-border:    #191919;
  --color-highlight: #E9E9E9;
  --color-title:     #191919;
  --color-tagline:   #191919;

  font-size: var(--font-size);
}