.widget-title {
  margin: 0;
}

.widget {
  ul {
    padding: 0;

    ul {
      margin: 0 0 0 .5em;
    }
  }

  li {
    line-height: 2;
    margin: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.widget_calendar {
  table {
    width: 100%;
    display: table !important;
    table-layout: fixed;
  }

  td,
  th {
    text-align: center;
    padding: .5em;
  }

  #prev,
  #prev+.pad {
    border-right: 0;
  }

  #prev {
    text-align: left;
  }

  #next {
    text-align: right;
  }

  a {
    font-weight: 800;
  }
}

.tag-cloud-link {
  position: relative;
  background-color: var(--color-highlight);
  border: 0.125em solid var(--color-border);
  border-radius: 32px;
  text-transform: uppercase;
  padding: 0 .5em;

  &:hover {
    background-color: var(--color-border);
    color: var(--color-highlight);
    text-decoration: none !important;
    z-index: 10;
  }
}