.wp-block-verse {
  font-family: var(--font-family);
  padding: .5em 0;
}

.wp-block-preformatted {
  white-space: pre;
  overflow-x: auto;
}

.wp-block-calendar table {
  display: table;
  margin-block: 1em;
}

.wp-block-pullquote {
  background-color: var(--color-gray);
  padding: 0.85em;
  border: var(--border-width--200) solid var(--border-color);
  border-radius: 0.5em;
  
  blockquote {
    border: none;
    background: transparent;
  }
}

p.wp-block-cover-text:not(.has-text-color) {
  color: var(--color-white);
}

p.wp-block-cover-text a {
  text-decoration: none;
}

.wp-block-button a,
.wp-block-file .wp-block-file__button {
  background-color: var(--color-gray);
  color: var(--color-black);
  border: var(--border-width--200) solid var(--border-color);
  border-radius: 1em;
  padding: .5em 1em;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 1em;

  &:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

.wp-block-button.is-style-outline a {
  border-color: var(--border-color);
}

.wp-block-button.is-style-squared a {
  border-radius: 0;
}

.wp-block-file .wp-block-file__button {
  display: table;
  margin: .5em 0 1em 0;
  font-size: 1rem;
}

.wp-block-separator {
  border-block-start: var(--border-width--200) dashed var(--color-gray--600);
  border-block-end: none;
  width: 25%;
}

.wp-block-separator.is-style-wide {
  width: 100%;
}

.wp-block-media-text {
  img {
    border: none;
    border-radius: 0;
  }
}
