/* Site header: Base */
.site-header {
  text-align: center;
  margin-block-start: 1em;

  > * + * {
    margin-block-start: 1em;
  }
}

@media (min-width: 48em) {
  .site-header {
    display: flex;
    gap: 1em;
    order: -1;
    margin-block-start: 2em;
    
    > * + * {
      margin-block-start: 0;
    }
  }
}
