.comments-area > * + * {
  margin-block-start: 3em;
}

.comment-list {
  margin-inline-start: 0;

  > * + * {
    margin-block-start: 1em;
  }
}

.comment-list,
.comment-list .children {
  list-style: none;
}
