/* Classes: Alignment */
.alignright{
  float: right;
  margin: 0 0 1em 1em;
}

.alignleft{
  float: left;
  margin: 0 1em 1em 0;
}

.aligncenter{ 
  display: block; 
  margin: 0 auto 1em;
  text-align: center;
}

.alignwide {
  border-inline: none;
  width: calc(100% + 1.5rem);
  max-width: calc(100% + 1.5rem);
  margin: 0 auto 1em -.75rem;

  @media (min-width: 48em) {
    width: calc(100% + 2.5rem);
    max-width: calc(100% + 2.5rem);
    margin: 0 auto 1em -1.25rem;
  }

  > * {
    border-inline: none;
  }
}

.alignfull {
  background-color: var(--color-white);
  margin-left: calc(50% - 50vw);
  width: 100vw;
  max-width: 100vw;
  border-inline: none;
  
  > * {
    border-inline: none;
  }

  p {
    padding: .5em;
  }
  
  img {
    border-radius: 0;
  }
}

/* Clear floats */
.entry-content::after {
  content: "";
  display: table;
  clear: both;
}