/* Post formats: Quote*/
body:not(.single) article.format-quote .entry-content {
  font-size: 2rem;
  text-align: center;
  
  blockquote {
    background-color: transparent;
    border: none;
    margin-block-end: 0;

    &::before {
      font-size: 4rem;
    }
  }
}