/* Post formats: Video*/
body:not(.single) article.format-video {
  .entry-content {
    iframe,
    embed,
    object {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      aspect-ratio: attr(width) / attr(height);
      vertical-align: bottom;
    }
  }
}

@media (min-width: 48em) {
  body:not(.single) article.format-video {
    background-color: var(--border-color);
    padding: 0;
    overflow: hidden;
    border-end-end-radius: 0;
    border-end-start-radius: 0;

    .entry-header {
      background-color: var(--color-white);
      padding: 1em;
      border-block-end: .192em solid var(--border-color);
    }

    .entry-content {
      margin: 0;
    }
  }
}