/* Site header navigation: Desktop view */
@media (min-width: 48em) {
  .header-nav-container {
    background-color: transparent;
    text-align: initial;
    max-width: 70em;
    margin-block-start: 2em;
    margin-inline: auto;
    
    .header-nav-toggle-label {
      display: none;
    }
  }

  .header-nav {
    background-color: var(--border-color);
    border-radius: 2em;
    padding: 0;
    padding-inline: 1em;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    inset: initial;
    width: initial;
    height: initial;
    
    font-size: 1rem;
    font-weight: 800;
    text-align: initial;
    row-gap: 0;

    li {
      position: relative;
      white-space: nowrap;
    }

    > li {
      padding: .5em;
    }

    > li > ul {
      display: none;
      background-color: var(--border-color);
      position: absolute;
      inset-block-start: 1.5em;
      inset-inline-start: -.5em;
      padding: .25em 1em;
      z-index: 20;
      border-end-start-radius: .5em;
      border-end-end-radius: .5em;
    
    }

    > li:hover > ul {
      display: block;
    }

    ul a {
      display: inline-block;
      transition: all .3s ease-in-out;
    }

    ul li:hover > a {
      color: var(--color-white);
      transform: translateX(.25em);
    }
  }
}