*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

body,
.site-container {
  min-height: 100vh;
}

.site-container {
  display: flex;
  flex-direction: column;
  position: relative;

  > * {
    margin-inline: .25rem;
    padding-inline: calc((100% - 84rem) / 2);

    @media (min-width: 28em) {
      margin-inline: 1rem;
    }
  }

  > * + * {
    margin-block-start: 2em;
  }
}

.site-main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1em;

  @media (min-width: 48em) {
    gap: 2em;
  }

  > * {
    max-width: 100%;
  }
}

.content-container {
  @media (min-width: 48em) {
    flex: 1 1 62%;
    min-width: 50%;
  }
  
  > * + * {
    margin-block-start: 1em;

    @media (min-width: 48em) {
      margin-block-start: 2em;
    }
  }
}

body.has-left-sidebar.has-right-sidebar .site-main {
  @media (min-width: 64em) {
    display: grid;
    grid-template-columns: minmax(0, 18em) minmax(22em, 1fr) minmax(0, 18em);
    gap: .5em;
  }
}

.widget-area-left-sidebar,
.widget-area-right-sidebar {
  flex: 1 1 14em;
  min-width: 14em;
}

body.has-left-sidebar.has-right-sidebar {
  .widget-area-left-sidebar > * + *,
  .widget-area-right-sidebar > * + *  {
    @media (min-width: 64em) {
      margin-block-start: .5em;
    }
  }
}

.content-container > article,
.content-container > .comments-area,
.content-container > .comment-respond {
  background-color: var(--color-white);
  padding: .5em;
  border: var(--border-width--400) solid var(--border-color);
  border-radius: 1em;

  @media (min-width: 48em) {
    padding: 1em;
  }
  
  > * + * {
    margin-block-start: 1em;
  }
}